 
/* start css.sty */
.ec-lmr-17{font-size:170%;}
.ec-lmtt-12x-x-144{font-size:172%; font-family: monospace,monospace;}
.ec-lmtt-12x-x-144{ font-family: monospace,monospace;}
.ec-lmtt-12x-x-144{ font-family: monospace,monospace;}
.ec-lmtt-12x-x-144{ font-family: monospace,monospace;}
.ec-lmtt-12x-x-144{ font-family: monospace,monospace;}
.ec-lmtt-12x-x-144{ font-family: monospace,monospace;}
.ec-lmtt-12x-x-144{ font-family: monospace,monospace;}
.ec-lmr-12{font-size:120%;}
.ec-lmtt-10{ font-family: monospace,monospace;}
.ec-lmtt-10{ font-family: monospace,monospace;}
.ec-lmtt-10{ font-family: monospace,monospace;}
.ec-lmtt-10{ font-family: monospace,monospace;}
.ec-lmtt-10{ font-family: monospace,monospace;}
.ec-lmtt-10{ font-family: monospace,monospace;}
.ec-lmtt-10{ font-family: monospace,monospace;}
.ec-lmtk-10{ font-family: monospace,monospace;}
.ec-lmtk-10{ font-family: monospace,monospace;}
.ec-lmtk-10{ font-family: monospace,monospace;}
.ec-lmtk-10{ font-family: monospace,monospace;}
.ec-lmtk-10{ font-family: monospace,monospace;}
.ec-lmtk-10{ font-family: monospace,monospace;}
.ec-lmtk-10{ font-family: monospace,monospace;}
.ec-lmtti-10{ font-family: monospace,monospace; font-style:italic;}
.ec-lmtti-10{ font-family: monospace,monospace; font-style:italic;}
.ec-lmtti-10{ font-family: monospace,monospace; font-style:italic;}
.ec-lmtti-10{ font-family: monospace,monospace; font-style:italic;}
.ec-lmtti-10{ font-family: monospace,monospace; font-style:italic;}
.ec-lmtti-10{ font-family: monospace,monospace; font-style:italic;}
.ec-lmtti-10{ font-family: monospace,monospace; font-style:italic;}
p{margin-top:0;margin-bottom:0}
p.indent{text-indent:0;}
p + p{margin-top:1em;}
p + div, p + pre {margin-top:1em;}
div + p, pre + p {margin-top:1em;}
a { overflow-wrap: break-word; word-wrap: break-word; word-break: break-word; hyphens: auto; }
@media print {div.crosslinks {visibility:hidden;}}
table.tabular{border-collapse: collapse; border-spacing: 0;}
a img { border-top: 0; border-left: 0; border-right: 0; }
center { margin-top:1em; margin-bottom:1em; }
td center { margin-top:0em; margin-bottom:0em; }
.Canvas { position:relative; }
img.math{vertical-align:middle;}
div.par-math-display, div.math-display{text-align:center;}
li p.indent { text-indent: 0em }
li p:first-child{ margin-top:0em; }
li p:last-child, li div:last-child { margin-bottom:0.5em; }
li p:first-child{ margin-bottom:0; }
li p~ul:last-child, li p~ol:last-child{ margin-bottom:0.5em; }
.enumerate1 {list-style-type:decimal;}
.enumerate2 {list-style-type:lower-alpha;}
.enumerate3 {list-style-type:lower-roman;}
.enumerate4 {list-style-type:upper-alpha;}
div.newtheorem { margin-bottom: 2em; margin-top: 2em;}
div.newtheorem .head{font-weight: bold;}
.obeylines-h,.obeylines-v {white-space: nowrap; }
div.obeylines-v p { margin-top:0; margin-bottom:0; }
.overline{ text-decoration:overline; }
.overline img{ border-top: 1px solid black; }
td.displaylines {text-align:center; white-space:nowrap;}
.centerline {text-align:center;}
.rightline {text-align:right;}
pre.verbatim {font-family: monospace,monospace; text-align:left; clear:both; }
.fbox {padding-left:3.0pt; padding-right:3.0pt; text-indent:0pt; border:solid black 0.4pt; }
div.fbox {display:table}
div.center div.fbox {text-align:center; clear:both; padding-left:3.0pt; padding-right:3.0pt; text-indent:0pt; border:solid black 0.4pt; }
div.minipage{width:100%;}
div.center, div.center div.center {text-align: center; margin-left:1em; margin-right:1em;}
div.center div {text-align: left;}
div.flushright, div.flushright div.flushright {text-align: right;}
div.flushright div {text-align: left;}
div.flushleft {text-align: left;}
.underline{ text-decoration:underline; }
.underline img{ border-bottom: 1px solid black; margin-bottom:1pt; }
.framebox-c, .framebox-l, .framebox-r { padding-left:3.0pt; padding-right:3.0pt; text-indent:0pt; border:solid black 0.4pt; }
.framebox-c {text-align:center;}
.framebox-l {text-align:left;}
.framebox-r {text-align:right;}
span.thank-mark{ vertical-align: super }
span.footnote-mark sup.textsuperscript, span.footnote-mark a sup.textsuperscript{ font-size:80%; }
div.tabular, div.center div.tabular {text-align: center; margin-top:0.5em; margin-bottom:0.5em; }
table.tabular td p{margin-top:0em;}
table.tabular {margin-left: auto; margin-right: auto;}
td p:first-child{ margin-top:0em; }
td p:last-child{ margin-bottom:0em; }
div.td00{ margin-left:0pt; margin-right:0pt; }
div.td01{ margin-left:0pt; margin-right:5pt; }
div.td10{ margin-left:5pt; margin-right:0pt; }
div.td11{ margin-left:5pt; margin-right:5pt; }
table[rules] {border-left:solid black 0.4pt; border-right:solid black 0.4pt; }
td.td00{ padding-left:0pt; padding-right:0pt; }
td.td01{ padding-left:0pt; padding-right:5pt; }
td.td10{ padding-left:5pt; padding-right:0pt; }
td.td11{ padding-left:5pt; padding-right:5pt; }
table[rules] {border-left:solid black 0.4pt; border-right:solid black 0.4pt; }
.hline hr, .cline hr{ height : 0px; margin:0px; }
.hline td, .cline td{ padding: 0; }
.hline hr, .cline hr{border:none;border-top:1px solid black;}
.hline {border-top: 1px solid black;}
.tabbing-right {text-align:right;}
div.float, div.figure {margin-left: auto; margin-right: auto;}
div.float img {text-align:center;}
div.figure img {text-align:center;}
.marginpar,.reversemarginpar {width:20%; float:right; text-align:left; margin-left:auto; margin-top:0.5em; font-size:85%; text-decoration:underline;}
.marginpar p,.reversemarginpar p{margin-top:0.4em; margin-bottom:0.4em;}
.reversemarginpar{float:left;}
table.equation {width:100%;}
.equation td{text-align:center; }
td.equation { margin-top:1em; margin-bottom:1em; } 
td.equation-label { width:5%; text-align:center; }
td.eqnarray4 { width:5%; white-space: normal; }
td.eqnarray2 { width:5%; }
table.eqnarray-star, table.eqnarray {width:100%;}
div.eqnarray{text-align:center;}
div.array {text-align:center;}
div.pmatrix {text-align:center;}
table.pmatrix {width:100%;}
span.pmatrix img{vertical-align:middle;}
div.pmatrix {text-align:center;}
table.pmatrix {width:100%;}
span.bar-css {text-decoration:overline;}
img.cdots{vertical-align:middle;}
.partToc a, .partToc, .likepartToc a, .likepartToc {line-height: 200%; font-weight:bold; font-size:110%;}
.chapterToc a, .chapterToc, .likechapterToc a, .likechapterToc, .appendixToc a, .appendixToc {line-height: 200%; font-weight:bold;}
.index-item, .index-subitem, .index-subsubitem {display:block}
div.caption {text-indent:-2em; margin-left:3em; margin-right:1em; text-align:left;}
div.caption span.id{font-weight: bold; white-space: nowrap; }
h1.partHead{text-align: center}
p.bibitem { text-indent: -2em; margin-left: 2em; margin-top:0.6em; margin-bottom:0.6em; }
p.bibitem-p { text-indent: 0em; margin-left: 2em; margin-top:0.6em; margin-bottom:0.6em; }
.paragraphHead, .likeparagraphHead { margin-top:2em; font-weight: bold;}
.subparagraphHead, .likesubparagraphHead { font-weight: bold;}
.verse{white-space:nowrap; margin-left:2em}
div.maketitle {text-align:center;}
h2.titleHead{text-align:center;}
div.maketitle{ margin-bottom: 2em; }
div.author, div.date {text-align:center;}
div.thanks{text-align:left; margin-left:10%; font-size:85%; font-style:italic; }
div.author{white-space: nowrap;}
div.abstract p {margin-left:5%; margin-right:5%;}
div.abstract {width:100%;}
.abstracttitle{text-align:center;margin-bottom:1em;}
figure.float, div.figure {margin-left: auto; margin-right: auto;}
figure.figure {text-align:center;}
figcaption.caption {text-indent:-2em; margin-left:3em; margin-right:1em; text-align:center;}
figcaption.caption span.id{font-weight: bold; white-space: nowrap; }
p + figcaption, img + figcaption{margin-top: 1em;}
.abstract{margin:1em;}
.equation td{text-align:center; }
.equation-star td{text-align:center; }
table.equation-star { width:100%; }
table.equation { width:100%; }
table.align, table.alignat, table.xalignat, table.xxalignat, table.flalign {width:95%; margin-left:5%; white-space: nowrap;}
table.align-star, table.alignat-star, table.xalignat-star, table.flalign-star {margin-left:auto; margin-right:auto; white-space: nowrap;}
td.align-label { width:5%; text-align:center; }
td.align-odd { text-align:right; padding-right:0.3em;}
td.align-even { text-align:left; padding-right:0.6em;}
table.multline, table.multline-star {width:100%;}
td.gather {text-align:center; }
table.gather {width:100%;}
div.gather-star {text-align:center;}
.small-caps{font-variant: small-caps;}
code.minted-inline{font-family:monospace,monospace;}
pre.fancyvrb {white-space: pre-wrap; margin:0em;font-family:monospace,monospace;}
.framedenv{border: 1px solid black;}
span#textcolor1{color:#0B610B}
span#textcolor2{color:rgb(0,127,0)}
span#textcolor3{color:rgb(0,127,0)}
span#textcolor4{color:rgb(0,127,0)}
span#textcolor5{color:rgb(0,127,0)}
span#textcolor6{color:rgb(0,127,0)}
span#textcolor7{color:rgb(0,127,0)}
span#textcolor8{color:rgb(0,127,0)}
span#textcolor9{color:rgb(0,127,0)}
span#textcolor10{color:rgb(0,127,0)}
span#textcolor11{color:rgb(0,127,0)}
span#textcolor12{color:rgb(0,127,0)}
span#textcolor13{color:rgb(0,127,0)}
span#textcolor14{color:rgb(0,127,0)}
span#textcolor15{color:rgb(0,127,0)}
span#textcolor16{color:rgb(0,127,0)}
span#textcolor17{color:rgb(0,127,0)}
span#textcolor18{color:rgb(0,127,0)}
span#textcolor19{color:rgb(0,127,0)}
span#textcolor20{color:rgb(0,127,0)}
span#textcolor21{color:rgb(0,127,0)}
span#textcolor22{color:rgb(0,127,0)}
span#textcolor23{color:rgb(0,127,0)}
span#textcolor24{color:rgb(0,127,0)}
span#textcolor25{color:rgb(0,127,0)}
span#textcolor26{color:rgb(0,127,0)}
span#textcolor27{color:rgb(186,33,33)}
span#textcolor28{color:rgb(0,127,0)}
span#textcolor29{color:rgb(101,101,101)}
span#textcolor30{color:rgb(101,101,101)}
span#textcolor31{color:rgb(0,127,0)}
span#textcolor32{color:rgb(0,127,0)}
span#textcolor33{color:rgb(101,101,101)}
span#textcolor34{color:rgb(101,101,101)}
span#textcolor35{color:rgb(101,101,101)}
span#textcolor36{color:rgb(0,127,0)}
span#textcolor37{color:rgb(101,101,101)}
span#textcolor38{color:rgb(101,101,101)}
span#textcolor39{color:rgb(101,101,101)}
span#textcolor40{color:rgb(101,101,101)}
span#textcolor41{color:rgb(101,101,101)}
span#textcolor42{color:rgb(101,101,101)}
span#textcolor43{color:rgb(101,101,101)}
span#textcolor44{color:rgb(101,101,101)}
span#textcolor45{color:rgb(0,127,0)}
span#textcolor46{color:rgb(101,101,101)}
span#textcolor47{color:rgb(101,101,101)}
span#textcolor48{color:rgb(101,101,101)}
span#textcolor49{color:rgb(0,127,0)}
span#textcolor50{color:rgb(0,127,0)}
span#textcolor51{color:rgb(101,101,101)}
span#textcolor52{color:rgb(101,101,101)}
span#textcolor53{color:rgb(101,101,101)}
span#textcolor54{color:rgb(101,101,101)}
span#textcolor55{color:rgb(0,127,0)}
span#textcolor56{color:rgb(101,101,101)}
span#textcolor57{color:rgb(0,127,0)}
span#textcolor58{color:rgb(0,127,0)}
span#textcolor59{color:rgb(0,127,0)}
span#textcolor60{color:rgb(0,127,0)}
span#textcolor61{color:rgb(0,127,0)}
span#textcolor62{color:rgb(0,127,0)}
span#textcolor63{color:rgb(0,127,0)}
span#textcolor64{color:rgb(0,127,0)}
span#textcolor65{color:rgb(0,127,0)}
span#textcolor66{color:rgb(0,127,0)}
span#textcolor67{color:rgb(0,127,0)}
span#textcolor68{color:rgb(0,127,0)}
span#textcolor69{color:rgb(0,127,0)}
span#textcolor70{color:rgb(0,127,0)}
span#textcolor71{color:rgb(0,127,0)}
span#textcolor72{color:rgb(0,127,0)}
span#textcolor73{color:rgb(0,127,0)}
span#textcolor74{color:rgb(0,127,0)}
span#textcolor75{color:rgb(0,127,0)}
span#textcolor76{color:rgb(0,127,0)}
span#textcolor77{color:rgb(0,127,0)}
span#textcolor78{color:rgb(0,127,0)}
span#textcolor79{color:rgb(0,127,0)}
span#textcolor80{color:rgb(0,127,0)}
span#textcolor81{color:rgb(0,127,0)}
span#textcolor82{color:rgb(0,127,0)}
span#textcolor83{color:rgb(0,127,0)}
span#textcolor84{color:rgb(0,127,0)}
span#textcolor85{color:rgb(0,127,0)}
span#textcolor86{color:rgb(0,127,0)}
span#textcolor87{color:rgb(0,127,0)}
span#textcolor88{color:rgb(0,127,0)}
span#textcolor89{color:rgb(0,127,0)}
span#textcolor90{color:rgb(0,127,0)}
span#textcolor91{color:rgb(0,127,0)}
span#textcolor92{color:rgb(0,127,0)}
span#textcolor93{color:rgb(0,127,0)}
span#textcolor94{color:rgb(0,127,0)}
span#textcolor95{color:rgb(101,101,101)}
span#textcolor96{color:rgb(101,101,101)}
span#textcolor97{color:rgb(101,101,101)}
span#textcolor98{color:rgb(0,127,0)}
span#textcolor99{color:rgb(101,101,101)}
span#textcolor100{color:rgb(101,101,101)}
span#textcolor101{color:rgb(101,101,101)}
span#textcolor102{color:rgb(0,127,0)}
span#textcolor103{color:rgb(0,127,0)}
span#textcolor104{color:rgb(101,101,101)}
span#textcolor105{color:rgb(101,101,101)}
span#textcolor106{color:rgb(101,101,101)}
span#textcolor107{color:rgb(0,127,0)}
span#textcolor108{color:rgb(101,101,101)}
span#textcolor109{color:rgb(101,101,101)}
span#textcolor110{color:rgb(101,101,101)}
span#textcolor111{color:rgb(101,101,101)}
span#textcolor112{color:rgb(101,101,101)}
span#textcolor113{color:rgb(101,101,101)}
span#textcolor114{color:rgb(101,101,101)}
span#textcolor115{color:rgb(0,127,0)}
span#textcolor116{color:rgb(101,101,101)}
span#textcolor117{color:rgb(101,101,101)}
span#textcolor118{color:rgb(101,101,101)}
span#textcolor119{color:rgb(101,101,101)}
span#textcolor120{color:rgb(101,101,101)}
span#textcolor121{color:rgb(0,127,0)}
span#textcolor122{color:rgb(101,101,101)}
span#textcolor123{color:rgb(101,101,101)}
span#textcolor124{color:rgb(101,101,101)}
span#textcolor125{color:rgb(0,127,0)}
span#textcolor126{color:rgb(0,127,0)}
span#textcolor127{color:rgb(0,127,0)}
span#textcolor128{color:rgb(0,127,0)}
span#textcolor129{color:rgb(0,127,0)}
span#textcolor130{color:rgb(0,127,0)}
/* end css.sty */

